<div class="items">
    <div class="question">1. What is the capital of france</div> 
      <div class="options">
        <button class="buttone" data-answer="MALI">MALI<button> 
          <button class="buttone">PARIS<button> 
            <button class="buttone">GHANA<button> 
              <button class="buttone">WASHIGHTON<button> 
      </div> <br/>
      <div class="question">2. What is the capital of france</div>
      <div class="options">
        <button class="buttone1">MALI<button> 
          <button class="buttone1" data-answer="PARIS">PARIS<button> 
            <button class="buttone1">GHANA<button> 
              <button class="buttone1">WASHIGHTON<button> 
      </div>
      <br/>
      <div class="question">3. What is the capital of france</div>
      <div class="options">
        <button class="buttone2">MALI<button> 
          <button class="buttone2">PARIS<button> 
            <button class="buttone2">GHANA<button> 
              <button class="buttone2">WASHIGHTON<button> 
      </div>
      <br/>
      <div class="question">4. What is the capital of france</div>
      <div class="options">
        <button class="buttone3">MALI<button> 
          <button class="buttone3">PARIS<button> 
            <button class="buttone3">GHANA<button> 
              <button class="buttone3">WASHIGHTON<button> 
      </div>
      <br/>
      <div class="question">5. What is the capital of france</div>
      <div class="options">
        <button class="buttone4">MALI<button> 
          <button class="buttone4">PARIS<button> 
            <button class="buttone4">GHANA<button> 
              <button class="buttone4">WASHIGHTON<button> 
      </div>
     <br/>
     <div class="question">6. What is the capital of france</div>
     <div class="options">
       <button class="buttone5">MALI<button> 
         <button class="buttone5">PARIS<button> 
           <button class="buttone5">GHANA<button> 
             <button class="buttone5">WASHIGHTON<button> 
     </div>
     <br/>
    </div>
    <div class="items">
      <div class="question">8. What is the capital of france</div> 
        <div class="options">
          <button class="buttone">MALI<button> 
            <button class="buttone">PARIS<button> 
              <button class="buttone">GHANA<button> 
                <button class="buttone">WASHIGHTON<button> 
        </div> <br/>
        <div class="question">9. What is the capital of france</div>
        <div class="options">
          <button class="buttone1">MALI<button> 
            <button class="buttone1">PARIS<button> 
              <button class="buttone1">GHANA<button> 
                <button class="buttone1">WASHIGHTON<button> 
        </div>
        <br/>
        <div class="question">10. What is the capital of france</div>
        <div class="options">
          <button class="buttone2">MALI<button> 
            <button class="buttone2">PARIS<button> 
              <button class="buttone2">GHANA<button> 
                <button class="buttone2">WASHIGHTON<button> 
        </div>
        <br/>
        <div class="question">11. What is the capital of france</div>
        <div class="options">
          <button class="buttone3">MALI<button> 
            <button class="buttone3">PARIS<button> 
              <button class="buttone3">GHANA<button> 
                <button class="buttone3">WASHIGHTON<button> 
        </div>
        <br/>
        <div class="question">12. What is the capital of france</div>
        <div class="options">
          <button class="buttone4">MALI<button> 
            <button class="buttone4">PARIS<button> 
              <button class="buttone4">GHANA<button> 
                <button class="buttone4">WASHIGHTON<button> 
        </div>
       <br/>
       <div class="question">13. What is the capital of france</div>
       <div class="options">
         <button class="buttone5">MALI<button> 
           <button class="buttone5">PARIS<button> 
             <button class="buttone5">GHANA<button> 
               <button class="buttone5">WASHIGHTON<button> 
       </div>
       <br/>
      </div>
      <div class="items">
        <div class="question">14. What is the capital of france</div> 
          <div class="options">
            <button class="buttone">MALI<button> 
              <button class="buttone">PARIS<button> 
                <button class="buttone">GHANA<button> 
                  <button class="buttone">WASHIGHTON<button> 
          </div> <br/>
          <div class="question">15. What is the capital of france</div>
          <div class="options">
            <button class="buttone1">MALI<button> 
              <button class="buttone1">PARIS<button> 
                <button class="buttone1">GHANA<button> 
                  <button class="buttone1">WASHIGHTON<button> 
          </div>
          <br/>
          <div class="question">16. What is the capital of france</div>
          <div class="options">
            <button class="buttone2">MALI<button> 
              <button class="buttone2">PARIS<button> 
                <button class="buttone2">GHANA<button> 
                  <button class="buttone2">WASHIGHTON<button> 
          </div>
          <br/>
          <div class="question">17. What is the capital of france</div>
          <div class="options">
            <button class="buttone3">MALI<button> 
              <button class="buttone3">PARIS<button> 
                <button class="buttone3">GHANA<button> 
                  <button class="buttone3">WASHIGHTON<button> 
          </div>
          <br/>
          <div class="question">18. What is the capital of france</div>
          <div class="options">
            <button class="buttone4">MALI<button> 
              <button class="buttone4">PARIS<button> 
                <button class="buttone4">GHANA<button> 
                  <button class="buttone4">WASHIGHTON<button> 
          </div>
         <br/>
         <div class="question">19. What is the capital of france</div>
         <div class="options">
           <button class="buttone5">MALI<button> 
             <button class="buttone5">PARIS<button> 
               <button class="buttone5">GHANA<button> 
                 <button class="buttone5">WASHIGHTON<button> 
         </div>
         <br/>
        </div><div class="items">
          <div class="question">20. What is the capital of france</div> 
            <div class="options">
              <button class="buttone">MALI<button> 
                <button class="buttone">PARIS<button> 
                  <button class="buttone">GHANA<button> 
                    <button class="buttone">WASHIGHTON<button> 
            </div> <br/>
            <div class="question">21. What is the capital of france</div>
            <div class="options">
              <button class="buttone1">MALI<button> 
                <button class="buttone1">PARIS<button> 
                  <button class="buttone1">GHANA<button> 
                    <button class="buttone1">WASHIGHTON<button> 
            </div>
            <br/>
            <div class="question">22. What is the capital of france</div>
            <div class="options">
              <button class="buttone2">MALI<button> 
                <button class="buttone2">PARIS<button> 
                  <button class="buttone2">GHANA<button> 
                    <button class="buttone2">WASHIGHTON<button> 
            </div>
            <br/>
            <div class="question">23. What is the capital of france</div>
            <div class="options">
              <button class="buttone3">MALI<button> 
                <button class="buttone3">PARIS<button> 
                  <button class="buttone3">GHANA<button> 
                    <button class="buttone3">WASHIGHTON<button> 
            </div>
            <br/>
            <div class="question">24. What is the capital of france</div>
            <div class="options">
              <button class="buttone4">MALI<button> 
                <button class="buttone4">PARIS<button> 
                  <button class="buttone4">GHANA<button> 
                    <button class="buttone4">WASHIGHTON<button> 
            </div>
           <br/>
           <div class="question">25. What is the capital of france</div>
           <div class="options">
             <button class="buttone5">MALI<button> 
               <button class="buttone5">PARIS<button> 
                 <button class="buttone5">GHANA<button> 
                   <button class="buttone5">WASHIGHTON<button> 
           </div>
           <br/>
          </div><div class="items">
            <div class="question">26. What is the capital of france</div> 
              <div class="options">
                <button class="buttone">MALI<button> 
                  <button class="buttone">PARIS<button> 
                    <button class="buttone">GHANA<button> 
                      <button class="buttone">WASHIGHTON<button> 
              </div> <br/>
              <div class="question">27. What is the capital of france</div>
              <div class="options">
                <button class="buttone1">MALI<button> 
                  <button class="buttone1">PARIS<button> 
                    <button class="buttone1">GHANA<button> 
                      <button class="buttone1">WASHIGHTON<button> 
              </div>
              <br/>
              <div class="question">28. What is the capital of france</div>
              <div class="options">
                <button class="buttone2">MALI<button> 
                  <button class="buttone2">PARIS<button> 
                    <button class="buttone2">GHANA<button> 
                      <button class="buttone2">WASHIGHTON<button> 
              </div>
              <br/>
              <div class="question">29. What is the capital of france</div>
              <div class="options">
                <button class="buttone3">MALI<button> 
                  <button class="buttone3">PARIS<button> 
                    <button class="buttone3">GHANA<button> 
                      <button class="buttone3">WASHIGHTON<button> 
              </div>
              <br/>
              <div class="question">30. What is the capital of france</div>
              <div class="options">
                <button class="buttone4">MALI<button> 
                  <button class="buttone4">PARIS<button> 
                    <button class="buttone4">GHANA<button> 
                      <button class="buttone4">WASHIGHTON<button> 
              </div>
             <br/>
             <div class="question">31. What is the capital of france</div>
             <div class="options">
               <button class="buttone5">MALI<button> 
                 <button class="buttone5">PARIS<button> 
                   <button class="buttone5">GHANA<button> 
                     <button class="buttone5">WASHIGHTON<button> 
             </div>
             <br/>
            </div><div class="items">
              <div class="question">32. What is the capital of france</div> 
                <div class="options">
                  <button class="buttone">MALI<button> 
                    <button class="buttone">PARIS<button> 
                      <button class="buttone">GHANA<button> 
                        <button class="buttone">WASHIGHTON<button> 
                </div> <br/>
                <div class="question">33. What is the capital of france</div>
                <div class="options">
                  <button class="buttone1">MALI<button> 
                    <button class="buttone1">PARIS<button> 
                      <button class="buttone1">GHANA<button> 
                        <button class="buttone1">WASHIGHTON<button> 
                </div>
                <br/>
                <div class="question">34. What is the capital of france</div>
                <div class="options">
                  <button class="buttone2">MALI<button> 
                    <button class="buttone2">PARIS<button> 
                      <button class="buttone2">GHANA<button> 
                        <button class="buttone2">WASHIGHTON<button> 
                </div>
                <br/>
                <div class="question">35. What is the capital of france</div>
                <div class="options">
                  <button class="buttone3">MALI<button> 
                    <button class="buttone3">PARIS<button> 
                      <button class="buttone3">GHANA<button> 
                        <button class="buttone3">WASHIGHTON<button> 
                </div>
                <br/>
                <div class="question">36. What is the capital of france</div>
                <div class="options">
                  <button class="buttone4">MALI<button> 
                    <button class="buttone4">PARIS<button> 
                      <button class="buttone4">GHANA<button> 
                        <button class="buttone4">WASHIGHTON<button> 
                </div>
               <br/>
               <div class="question">37. What is the capital of france</div>
               <div class="options">
                 <button class="buttone5">MALI<button> 
                   <button class="buttone5">PARIS<button> 
                     <button class="buttone5">GHANA<button> 
                       <button class="buttone5">WASHIGHTON<button> 
               </div>
               <br/>
              </div><div class="items">
                <div class="question">38. What is the capital of france</div> 
                  <div class="options">
                    <button class="buttone">MALI<button> 
                      <button class="buttone">PARIS<button> 
                        <button class="buttone">GHANA<button> 
                          <button class="buttone">WASHIGHTON<button> 
                  </div> <br/>
                  <div class="question">39. What is the capital of france</div>
                  <div class="options">
                    <button class="buttone1">MALI<button> 
                      <button class="buttone1">PARIS<button> 
                        <button class="buttone1">GHANA<button> 
                          <button class="buttone1">WASHIGHTON<button> 
                  </div>
                  <br/>
                  <div class="question">40. What is the capital of france</div>
                  <div class="options">
                    <button class="buttone2">MALI<button> 
                      <button class="buttone2">PARIS<button> 
                        <button class="buttone2">GHANA<button> 
                          <button class="buttone2">WASHIGHTON<button> 
                  </div>
                  <br/>
                  <div class="question">41. What is the capital of france</div>
                  <div class="options">
                    <button class="buttone3">MALI<button> 
                      <button class="buttone3">PARIS<button> 
                        <button class="buttone3">GHANA<button> 
                          <button class="buttone3">WASHIGHTON<button> 
                  </div>
                  <br/>
                  <div class="question">42. What is the capital of france</div>
                  <div class="options">
                    <button class="buttone4">MALI<button> 
                      <button class="buttone4">PARIS<button> 
                        <button class="buttone4">GHANA<button> 
                          <button class="buttone4">WASHIGHTON<button> 
                  </div>
                 <br/>
                 <div class="question">43. What is the capital of france</div>
                 <div class="options">
                   <button class="buttone5">MALI<button> 
                     <button class="buttone5">PARIS<button> 
                       <button class="buttone5">GHANA<button> 
                         <button class="buttone5">WASHIGHTON<button> 
                 </div>
                 <br/>
                </div>
                <div class="items">
                  <div class="question">44. What is the capital of france</div> 
                    <div class="options">
                      <button class="buttone">MALI<button> 
                        <button class="buttone">PARIS<button> 
                          <button class="buttone">GHANA<button> 
                            <button class="buttone">WASHIGHTON<button> 
                    </div> <br/>
                    <div class="question">45. What is the capital of france</div>
                    <div class="options">
                      <button class="buttone1">MALI<button> 
                        <button class="buttone1">PARIS<button> 
                          <button class="buttone1">GHANA<button> 
                            <button class="buttone1">WASHIGHTON<button> 
                    </div>
                    <br/>
                    <div class="question">46. What is the capital of france</div>
                    <div class="options">
                      <button class="buttone2">MALI<button> 
                        <button class="buttone2">PARIS<button> 
                          <button class="buttone2">GHANA<button> 
                            <button class="buttone2">WASHIGHTON<button> 
                    </div>
                    <br/>
                    <div class="question">47. What is the capital of france</div>
                    <div class="options">
                      <button class="buttone3">MALI<button> 
                        <button class="buttone3">PARIS<button> 
                          <button class="buttone3">GHANA<button> 
                            <button class="buttone3">WASHIGHTON<button> 
                    </div>
                    <br/>
                    <div class="question">48. What is the capital of france</div>
                    <div class="options">
                      <button class="buttone4">MALI<button> 
                        <button class="buttone4">PARIS<button> 
                          <button class="buttone4">GHANA<button> 
                            <button class="buttone4">WASHIGHTON<button> 
                    </div>
                   <br/>
                   <div class="question">49. What is the capital of france</div>
                   <div class="options">
                     <button class="buttone5">MALI<button> 
                       <button class="buttone5">PARIS<button> 
                         <button class="buttone5">GHANA<button> 
                           <button class="buttone5">WASHIGHTON<button> 
                   </div>
                   <br/>
                  </div>
                  <div class="items">
                    <div class="question">50. What is the capital of france</div> 
                      <div class="options">
                        <button class="buttone">MALI<button> 
                          <button class="buttone">PARIS<button> 
                            <button class="buttone">GHANA<button> 
                              <button class="buttone">WASHIGHTON<button> 
                      </div> <br/>
                      <div class="question">51. What is the capital of france</div>
                      <div class="options">
                        <button class="buttone1">MALI<button> 
                          <button class="buttone1">PARIS<button> 
                            <button class="buttone1">GHANA<button> 
                              <button class="buttone1">WASHIGHTON<button> 
                      </div>
                      <br/>
                      <div class="question">52. What is the capital of france</div>
                      <div class="options">
                        <button class="buttone2">MALI<button> 
                          <button class="buttone2">PARIS<button> 
                            <button class="buttone2">GHANA<button> 
                              <button class="buttone2">WASHIGHTON<button> 
                      </div>
                      <br/>
                      <div class="question">53. What is the capital of france</div>
                      <div class="options">
                        <button class="buttone3">MALI<button> 
                          <button class="buttone3">PARIS<button> 
                            <button class="buttone3">GHANA<button> 
                              <button class="buttone3">WASHIGHTON<button> 
                      </div>
                      <br/>
                      <div class="question">54. What is the capital of france</div>
                      <div class="options">
                        <button class="buttone4">MALI<button> 
                          <button class="buttone4">PARIS<button> 
                            <button class="buttone4">GHANA<button> 
                              <button class="buttone4">WASHIGHTON<button> 
                      </div>
                     <br/>
                     <div class="question">55. What is the capital of france</div>
                     <div class="options">
                       <button class="buttone5">MALI<button> 
                         <button class="buttone5">PARIS<button> 
                           <button class="buttone5">GHANA<button> 
                             <button class="buttone5">WASHIGHTON<button> 
                     </div>
                     <br/>
                    </div>
                    <div class="items">
                      <div class="question">56. What is the capital of france</div> 
                        <div class="options">
                          <button class="buttone">MALI<button> 
                            <button class="buttone">PARIS<button> 
                              <button class="buttone">GHANA<button> 
                                <button class="buttone">WASHIGHTON<button> 
                        </div> <br/>
                        <div class="question">57. What is the capital of france</div>
                        <div class="options">
                          <button class="buttone1">MALI<button> 
                            <button class="buttone1">PARIS<button> 
                              <button class="buttone1">GHANA<button> 
                                <button class="buttone1">WASHIGHTON<button> 
                        </div>
                        <br/>
                        <div class="question">58. What is the capital of france</div>
                        <div class="options">
                          <button class="buttone2">MALI<button> 
                            <button class="buttone2">PARIS<button> 
                              <button class="buttone2">GHANA<button> 
                                <button class="buttone2">WASHIGHTON<button> 
                        </div>
                        <br/>
                        <div class="question">59. What is the capital of france</div>
                        <div class="options">
                          <button class="buttone3">MALI<button> 
                            <button class="buttone3">PARIS<button> 
                              <button class="buttone3">GHANA<button> 
                                <button class="buttone3">WASHIGHTON<button> 
                        </div>
                        <br/>
                        <div class="question">60. What is the capital of france</div>
                        <div class="options">
                          <button class="buttone4">MALI<button> 
                            <button class="buttone4">PARIS<button> 
                              <button class="buttone4">GHANA<button> 
                                <button class="buttone4">WASHIGHTON<button> 
                        </div>
                       <br/>
                       <div class="question">61. What is the capital of france</div>
                       <div class="options">
                         <button class="buttone5">MALI<button> 
                           <button class="buttone5">PARIS<button> 
                             <button class="buttone5">GHANA<button> 
                               <button class="buttone5">WASHIGHTON<button> 
                       </div>
                       <br/>
                      </div>
                      <div class="items">
                        <div class="question">62. What is the capital of france</div> 
                          <div class="options">
                            <button class="buttone">MALI<button> 
                              <button class="buttone">PARIS<button> 
                                <button class="buttone">GHANA<button> 
                                  <button class="buttone">WASHIGHTON<button> 
                          </div> <br/>
                          <div class="question">63. What is the capital of france</div>
                          <div class="options">
                            <button class="buttone1">MALI<button> 
                              <button class="buttone1">PARIS<button> 
                                <button class="buttone1">GHANA<button> 
                                  <button class="buttone1">WASHIGHTON<button> 
                          </div>
                          <br/>
                          <div class="question">64. What is the capital of france</div>
                          <div class="options">
                            <button class="buttone2">MALI<button> 
                              <button class="buttone2">PARIS<button> 
                                <button class="buttone2">GHANA<button> 
                                  <button class="buttone2">WASHIGHTON<button> 
                          </div>
                          <br/>
                          <div class="question">65. What is the capital of france</div>
                          <div class="options">
                            <button class="buttone3">MALI<button> 
                              <button class="buttone3">PARIS<button> 
                                <button class="buttone3">GHANA<button> 
                                  <button class="buttone3">WASHIGHTON<button> 
                          </div>
                          <br/>
                          <div class="question">66. What is the capital of france</div>
                          <div class="options">
                            <button class="buttone4">MALI<button> 
                              <button class="buttone4">PARIS<button> 
                                <button class="buttone4">GHANA<button> 
                                  <button class="buttone4">WASHIGHTON<button> 
                          </div>
                         <br/>
                         <div class="question">67. What is the capital of france</div>
                         <div class="options">
                           <button class="buttone5">MALI<button> 
                             <button class="buttone5">PARIS<button> 
                               <button class="buttone5">GHANA<button> 
                                 <button class="buttone5">WASHIGHTON<button> 
                         </div>
                         <br/>
                        </div>
                        <div class="items">
                          <div class="question">68. What is the capital of france</div> 
                            <div class="options">
                              <button class="buttone">MALI<button> 
                                <button class="buttone">PARIS<button> 
                                  <button class="buttone">GHANA<button> 
                                    <button class="buttone">WASHIGHTON<button> 
                            </div> <br/>
                            <div class="question">69. What is the capital of france</div>
                            <div class="options">
                              <button class="buttone1">MALI<button> 
                                <button class="buttone1">PARIS<button> 
                                  <button class="buttone1">GHANA<button> 
                                    <button class="buttone1">WASHIGHTON<button> 
                            </div>
                            <br/>
                            <div class="question">69. What is the capital of france</div>
                            <div class="options">
                              <button class="buttone2">MALI<button> 
                                <button class="buttone2">PARIS<button> 
                                  <button class="buttone2">GHANA<button> 
                                    <button class="buttone2">WASHIGHTON<button> 
                            </div>
                            <br/>
                            <div class="question">70. What is the capital of france</div>
                            <div class="options">
                              <button class="buttone3">MALI<button> 
                                <button class="buttone3">PARIS<button> 
                                  <button class="buttone3">GHANA<button> 
                                    <button class="buttone3">WASHIGHTON<button> 
                            </div>
                            <br/>
                            <div class="question">71. What is the capital of france</div>
                            <div class="options">
                              <button class="buttone4">MALI<button> 
                                <button class="buttone4">PARIS<button> 
                                  <button class="buttone4">GHANA<button> 
                                    <button class="buttone4">WASHIGHTON<button> 
                            </div>
                           <br/>
                           <div class="question">72. What is the capital of france</div>
                           <div class="options">
                             <button class="buttone5">MALI<button> 
                               <button class="buttone5">PARIS<button> 
                                 <button class="buttone5">GHANA<button> 
                                   <button class="buttone5">WASHIGHTON<button> 
                           </div>
                           <br/>
                          </div>
                          <div class="items">
                            <div class="question">73. What is the capital of france</div> 
                              <div class="options">
                                <button class="buttone">MALI<button> 
                                  <button class="buttone">PARIS<button> 
                                    <button class="buttone">GHANA<button> 
                                      <button class="buttone">WASHIGHTON<button> 
                              </div> <br/>
                              <div class="question">74. What is the capital of france</div>
                              <div class="options">
                                <button class="buttone1">MALI<button> 
                                  <button class="buttone1">PARIS<button> 
                                    <button class="buttone1">GHANA<button> 
                                      <button class="buttone1">WASHIGHTON<button> 
                              </div>
                              <br/>
                              <div class="question">75. What is the capital of france</div>
                              <div class="options">
                                <button class="buttone2">MALI<button> 
                                  <button class="buttone2">PARIS<button> 
                                    <button class="buttone2">GHANA<button> 
                                      <button class="buttone2">WASHIGHTON<button> 
                              </div>
                              <br/>
                              <div class="question">76. What is the capital of france</div>
                              <div class="options">
                                <button class="buttone3">MALI<button> 
                                  <button class="buttone3">PARIS<button> 
                                    <button class="buttone3">GHANA<button> 
                                      <button class="buttone3">WASHIGHTON<button> 
                              </div>
                              <br/>
                              <div class="question">77. What is the capital of france</div>
                              <div class="options">
                                <button class="buttone4">MALI<button> 
                                  <button class="buttone4">PARIS<button> 
                                    <button class="buttone4">GHANA<button> 
                                      <button class="buttone4">WASHIGHTON<button> 
                              </div>
                             <br/>
                             <div class="question">78. What is the capital of france</div>
                             <div class="options">
                               <button class="buttone5">MALI<button> 
                                 <button class="buttone5">PARIS<button> 
                                   <button class="buttone5">GHANA<button> 
                                     <button class="buttone5">WASHIGHTON<button> 
                             </div>
                             <br/>
                            </div>
                            <div class="items">
                              <div class="question">79. What is the capital of france</div> 
                                <div class="options">
                                  <button class="buttone">MALI<button> 
                                    <button class="buttone">PARIS<button> 
                                      <button class="buttone">GHANA<button> 
                                        <button class="buttone">WASHIGHTON<button> 
                                </div> <br/>
                                <div class="question">80. What is the capital of france</div>
                                <div class="options">
                                  <button class="buttone1">MALI<button> 
                                    <button class="buttone1">PARIS<button> 
                                      <button class="buttone1">GHANA<button> 
                                        <button class="buttone1">WASHIGHTON<button> 
                                </div>
                                <br/>
                                <div class="question">81. What is the capital of france</div>
                                <div class="options">
                                  <button class="buttone2">MALI<button> 
                                    <button class="buttone2">PARIS<button> 
                                      <button class="buttone2">GHANA<button> 
                                        <button class="buttone2">WASHIGHTON<button> 
                                </div>
                                <br/>
                                <div class="question">82. What is the capital of france</div>
                                <div class="options">
                                  <button class="buttone3">MALI<button> 
                                    <button class="buttone3">PARIS<button> 
                                      <button class="buttone3">GHANA<button> 
                                        <button class="buttone3">WASHIGHTON<button> 
                                </div>
                                <br/>
                                <div class="question">83. What is the capital of france</div>
                                <div class="options">
                                  <button class="buttone4">MALI<button> 
                                    <button class="buttone4">PARIS<button> 
                                      <button class="buttone4">GHANA<button> 
                                        <button class="buttone4">WASHIGHTON<button> 
                                </div>
                               <br/>
                               <div class="question">84. What is the capital of france</div>
                               <div class="options">
                                 <button class="buttone5">MALI<button> 
                                   <button class="buttone5">PARIS<button> 
                                     <button class="buttone5">GHANA<button> 
                                       <button class="buttone5">WASHIGHTON<button> 
                               </div>
                               <br/>
                              </div>
                              <div class="items">
                                <div class="question">85. What is the capital of france</div> 
                                  <div class="options">
                                    <button class="buttone">MALI<button> 
                                      <button class="buttone">PARIS<button> 
                                        <button class="buttone">GHANA<button> 
                                          <button class="buttone">WASHIGHTON<button> 
                                  </div> <br/>
                                  <div class="question">86. What is the capital of france</div>
                                  <div class="options">
                                    <button class="buttone1">MALI<button> 
                                      <button class="buttone1">PARIS<button> 
                                        <button class="buttone1">GHANA<button> 
                                          <button class="buttone1">WASHIGHTON<button> 
                                  </div>
                                  <br/>
                                  <div class="question">87. What is the capital of france</div>
                                  <div class="options">
                                    <button class="buttone2">MALI<button> 
                                      <button class="buttone2">PARIS<button> 
                                        <button class="buttone2">GHANA<button> 
                                          <button class="buttone2">WASHIGHTON<button> 
                                  </div>
                                  <br/>
                                  <div class="question">88. What is the capital of france</div>
                                  <div class="options">
                                    <button class="buttone3">MALI<button> 
                                      <button class="buttone3">PARIS<button> 
                                        <button class="buttone3">GHANA<button> 
                                          <button class="buttone3">WASHIGHTON<button> 
                                  </div>
                                  <br/>
                                  <div class="question">89. What is the capital of france</div>
                                  <div class="options">
                                    <button class="buttone4">MALI<button> 
                                      <button class="buttone4">PARIS<button> 
                                        <button class="buttone4">GHANA<button> 
                                          <button class="buttone4">WASHIGHTON<button> 
                                  </div>
                                 <br/>
                                 <div class="question">90. What is the capital of france</div>
                                 <div class="options">
                                   <button class="buttone5">MALI<button> 
                                     <button class="buttone5">PARIS<button> 
                                       <button class="buttone5">GHANA<button> 
                                         <button class="buttone5">WASHIGHTON<button> 
                                 </div>
                                 <br/>
                                </div>
                                <div class="items">
                                  <div class="question">91. What is the capital of france</div> 
                                    <div class="options">
                                      <button class="buttone">MALI<button> 
                                        <button class="buttone">PARIS<button> 
                                          <button class="buttone">GHANA<button> 
                                            <button class="buttone">WASHIGHTON<button> 
                                    </div> <br/>
                                    <div class="question">92. What is the capital of france</div>
                                    <div class="options">
                                      <button class="buttone1">MALI<button> 
                                        <button class="buttone1">PARIS<button> 
                                          <button class="buttone1">GHANA<button> 
                                            <button class="buttone1">WASHIGHTON<button> 
                                    </div>
                                    <br/>
                                    <div class="question">93. What is the capital of france</div>
                                    <div class="options">
                                      <button class="buttone2">MALI<button> 
                                        <button class="buttone2">PARIS<button> 
                                          <button class="buttone2">GHANA<button> 
                                            <button class="buttone2">WASHIGHTON<button> 
                                    </div>
                                    <br/>
                                    <div class="question">95. What is the capital of france</div>
                                    <div class="options">
                                      <button class="buttone3">MALI<button> 
                                        <button class="buttone3">PARIS<button> 
                                          <button class="buttone3">GHANA<button> 
                                            <button class="buttone3">WASHIGHTON<button> 
                                    </div>
                                    <br/>
                                    <div class="question">96. What is the capital of france</div>
                                    <div class="options">
                                      <button class="buttone4">MALI<button> 
                                        <button class="buttone4">PARIS<button> 
                                          <button class="buttone4">GHANA<button> 
                                            <button class="buttone4">WASHIGHTON<button> 
                                    </div>
                                   <br/>
                                   <div class="question">97. What is the capital of france</div>
                                   <div class="options">
                                     <button class="buttone5">MALI<button> 
                                       <button class="buttone5">PARIS<button> 
                                         <button class="buttone5">GHANA<button> 
                                           <button class="buttone5">WASHIGHTON<button> 
                                   </div>
                                   <br/>
                                  </div>
                                  <div class="items">
                                    <div class="question">98. What is the capital of france</div> 
                                      <div class="options">
                                        <button class="buttone">MALI<button> 
                                          <button class="buttone">PARIS<button> 
                                            <button class="buttone">GHANA<button> 
                                              <button class="buttone">WASHIGHTON<button> 
                                      </div> <br/>
                                      <div class="question">99. What is the capital of france</div>
                                      <div class="options">
                                        <button class="buttone1">MALI<button> 
                                          <button class="buttone1">PARIS<button> 
                                            <button class="buttone1">GHANA<button> 
                                              <button class="buttone1">WASHIGHTON<button> 
                                      </div>
                                      <br/>
                                      <div class="question">100. What is the capital of france</div>
                                      <div class="options">
                                        <button class="buttone2">MALI<button> 
                                          <button class="buttone2">PARIS<button> 
                                            <button class="buttone2">GHANA<button> 
                                              <button class="buttone2">WASHIGHTON<button> 
                                      </div>
                                      <br/>
                                     
                                     
                                     
                                    </div>
  