*{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color:darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
#box{
    width: 500px;
    height: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
h1{
    font-weight: bold;
}
a{
    text-decoration: none;
}
button{
    padding: 6px 24px;
    border: 2px solid black;
    background:transparent;
    border-radius: 6px;
    cursor: pointer;
    
}
button:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}