<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Result</title>
    <link rel="icon" href="favicon-16x16.png" type="image/png">
    <link rel="stylesheet" href="Homepage.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <script src="viewresult.js"></script>
</head>
<body>
  <nav>
    <div id="loading-overlay">
      <div class="spinner"></div>
    </div>
    <div class="nav-bar">
        <i class='bx bx-menu sidebarOpen' ></i>
        <span class="logo navLogo"><a href="#">Bible.Go</a></span>

        <div class="menu">
            <div class="logo-toggle">
                <span class="logo"><a href="#">Bible.Go</a></span>
                <i class='bx bx-x siderbarClose'></i>
            </div>


            <ul class="nav-links">
                <li><a href="/Homepage">Home</a></li>
                <li><a href="/About">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/">Sign Out</a></li>
            </ul>
        </div>

        <div class="darkLight-searchBox">
            <div class="dark-light">
                <i class='bx bx-moon moon'></i>
                <i class='bx bx-sun sun'></i>
            </div>

            <div class="searchBox">
               <div class="searchToggle">
                <i class='bx bx-x cancel'></i>
                <i class='bx bx-search search'></i>
               </div>

                <div class="search-field">
                    <input type="text" placeholder="Search...">
                    <i class='bx bx-search'></i>
                </div>
            </div>
        </div>
    </div>
</nav>
      <div id="sign-out-model" class="modal">
        <h2 class="h2-id">Do you want to sign out</h2>
        <button id="sign-out-button">Sign Out</button>
        <button id="cancel-button">Cancel</button>
      </div>
      <div class="centralize">
      <div class="container">
 

<div id="testarea"><br/><br/>
</div><br/><br>
<div class="items">
  <div class="question">1. Who was the mother of Jesus Christ</div> 
    <div class="options">
      <button class="buttone" >Sarah</button> 
        <button class="buttone" data-answer="b" id="one">Mary<button> 
          <button class="buttone" >Eve<button> 
            <button class="buttone" >Deborah<button> 
    </div> <br/>
    <div class="question">2. What fruit did Adam and Eve eat in the Garden of Eden?</div>
    <div class="options">
      <button class="buttone1" data-answer="a" id="two">Apple<button> 
        <button class="buttone1" >Grape<button> 
          <button class="buttone1">Pomegranate<button> 
            <button class="buttone1">Fig<button> 
    </div>
    <br/>
    <div class="question">3.How many days did God take to create the world?</div>
    <div class="options">
      <button class="buttone2" data-answer="a" id="three">Six<button> 
        <button class="buttone2">Seven<button> 
          <button class="buttone2">Eight<button> 
            <button class="buttone2">Ten<button> 
    </div>
    <br/>
    <div class="question">4.Who built an ark to survive a great flood?</div>
    <div class="options">
      <button class="buttone3">Abraham<button> 
        <button class="buttone3" data-answer="b" id="four">Noah<button> 
          <button class="buttone3">Moses<button> 
            <button class="buttone3">Joseph<button> 
    </div>
    <br/>
    <div class="question">5.How many pairs of unclean animals did Noah take on the ark?</div>
    <div class="options">
      <button class="buttone4">1<button> 
        <button class="buttone4" data-answer="b" id="five">2<button> 
          <button class="buttone4">7<button> 
            <button class="buttone4">None (he only took clean animals)
              <button> 
    </div>
   <br/>
   <div class="question">6.What covenant did God make with Abraham, promising him a land for his descendants?</div>
   <div class="options">
     <button class="buttone5" data-answer="a" id="six">Abrahamic Covenant<button> 
       <button class="buttone5">Mosaic Covenant<button> 
         <button class="buttone5">Davidic Covenant<button> 
           <button class="buttone5">New Covenant<button> 
   </div>
   <br/>
  </div>
  <div class="items">
    <div class="question">7.Who were Isaac's twin sons?</div> 
      <div class="options">
        <button class="buttone6" data-answer="a" id="seven">Jacob and Esau<button> 
          <button class="buttone6">Cain and Abel<button> 
            <button class="buttone6">Joseph and Benjamin<button> 
              <button class="buttone6">David and Absalom<button> 
      </div> <br/>
      <div class="question">8. Joseph's jealous brothers sold him to</div>
      <div class="options">
        <button class="buttone7">Egyptians<button> 
          <button class="buttone7" data-answer="b" id="eight"> Midianites<button> 
            <button class="buttone7">Philistines<button> 
              <button class="buttone7">Canaanites<button> 
      </div>
      <br/>
      <div class="question">9. Who led the Israelites out of Egypt?</div>
      <div class="options">
        <button class="buttone8"> Abraham<button> 
          <button class="buttone8" data-answer="b" id="nine"> Moses<button> 
            <button class="buttone8">Joshua<button> 
              <button class="buttone8">David<button> 
      </div>
      <br/>
      <div class="question">10. What mountain did Moses receive the Ten Commandments on?</div>
      <div class="options">
        <button class="buttone9" data-answer="a" id="ten">Mount Sinai<button> 
          <button class="buttone9">Mount Carmel<button> 
            <button class="buttone9">Mount Ararat<button> 
              <button class="buttone9">Mount Tabor<button> 
      </div>
      <br/>
      <div class="question">11. What city did the walls come crashing down after being circled for seven days?</div>
      <div class="options">
        <button class="buttone10">Ai<button> 
          <button class="buttone10">Jerusalem<button> 
            <button class="buttone10" data-answer="c" id="eleven">Jericho<button> 
              <button class="buttone10">Bethel<button> 
      </div>
     <br/>
     <div class="question">12. Who was a young Israelite woman who bravely risked her life to save her people?</div>
     <div class="options">
       <button class="buttone11" data-answer="a" id="twelve">Rahab<button> 
         <button class="buttone11">Ruth<button> 
           <button class="buttone11">Esther<button> 
             <button class="buttone11">Deborah<button> 
     </div>
     <br/>
    </div>
    <div class="items">
      <div class="question">13. What riddle did Samson pose at his wedding feast?</div> 
        <div class="options">
          <button class="buttone12">Who can hold the wind in their hands?<button> 
            <button class="buttone12">What has no voice yet cries aloud?<button> 
              <button class="buttone12">Can riches come out of poverty?<button> 
                <button class="buttone12" data-answer="d" id="thirteen"> Out of the eater came something to eat
                  <button> 
        </div> <br/>
        <div class="question">14. What prophet was called by God to preach to the people of Nineveh?</div>
        <div class="options">
          <button class="buttone13" data-answer="a" id="fourteen">Jonah<button> 
            <button class="buttone13">Elijah<button> 
              <button class="buttone13">Ezekiel<button> 
                <button class="buttone13">Elisha<button> 
        </div>
        <br/>
        <div class="question">15. King David committed adultery with</div>
        <div class="options">
          <button class="buttone14">Ruth<button> 
            <button class="buttone14">Abigail<button> 
              <button class="buttone14" data-answer="c" id="fifteen">Bathsheba<button> 
                <button class="buttone14">Michal<button> 
        </div>
        <br/>
        <div class="question">16. Who was the wisest king of Israel?</div>
        <div class="options">
          <button class="buttone15" data-answer="a" id="first16">Solomon<button> 
            <button class="buttone15">Saul<button> 
              <button class="buttone15">David<button> 
                <button class="buttone15">Rehoboam<button> 
        </div>
        <br/>
        <div class="question">17. What famous prophecy did Isaiah give about a coming Messiah?
        </div>
        <div class="options">
          <button class="buttone16">The prophecy of the suffering servant<button> 
            <button class="buttone16" data-answer="b" id="first17"> The prophecy of the second coming<button> 
              <button class="buttone16"> The prophecy of the great tribulation<button> 
                <button class="buttone16"> The prophecy of the millennial reign<button> 
        </div>
       <br/>
       <div class="question">18. What was the name of the Babylonian king who destroyed Jerusalem?</div>
       <div class="options">
         <button class="buttone17" data-answer="a" id="first18">Nebuchadnezzar<button> 
           <button class="buttone17"> Belshazzar<button> 
             <button class="buttone17">Sennacherib<button> 
               <button class="buttone17">Ashurbanipal<button> 
       </div>
       <br/>
      </div><div class="items">
        <div class="question">19. Who rebuilt the temple in Jerusalem after the exile?</div> 
          <div class="options">
            <button class="buttone18">Nehemiah<button> 
              <button class="buttone18">Ezra<button> 
                <button class="buttone18">Esther<button> 
                  <button class="buttone18" data-answer="d" id="first19">Zerubbabel<button> 
          </div> <br/>
          <div class="question">20. In Genesis 4, we see the story of Cain and Abel.  This story sets the stage for a  recurring theme throughout the Bible.  Which of the following thematic threads is a most prominent in this story?</div>
          <div class="options">
            <button class="buttone19">The importance of following religious rituals exactly.<button> 
              <button class="buttone19">The destructive nature of envy and jealousy.<button> 
                <button class="buttone19" data-answer="c" id="first20">The consequences of disobeying God's commands.<button> 
                  <button class="buttone19">The superiority of agricultural offerings over animal sacrifices<button> 
          </div>
          <br/>
          <div class="question">21. In the book of Revelation, who is depicted as the powerful woman who flees from persecution?</div>
          <div class="options">
            <button class="buttone20">Mary Magdalene<button> 
              <button class="buttone20">Martha<button> 
                <button class="buttone20" data-answer="c" id="first21"> The Woman of the Apocalypse<button> 
                  <button class="buttone20">Mary of Bethany<button> 
          </div>
          <br/>
          <div class="question">22. According to the book of Acts, who is the first Christian martyr?</div>
          <div class="options">
            <button class="buttone21" data-answer="a" id="first22">Stephen<button> 
              <button class="buttone21">James<button> 
                <button class="buttone21">Peter<button> 
                  <button class="buttone21">Barnabas<button> 
          </div>
          <br/>
          <div class="question">23. Who is the powerful Roman governor who sentences Jesus to crucifixion?</div>
          <div class="options">
            <button class="buttone22">Herod Antipas<button> 
              <button class="buttone22">Claudius<button> 
                <button class="buttone22" data-answer="c" id="first23">Pontius Pilate<button> 
                  <button class="buttone22">Tiberius Caesar<button> 
          </div>
         <br/>
         <div class="question">24. Mary Magdalene plays a significant role in the Gospels. What is she known for witnessing?</div>
         <div class="options">
           <button class="buttone23"> The temptation of Jesus in the desert<button> 
             <button class="buttone23" data-answer="b" id="first24">The resurrection of Jesus<button> 
               <button class="buttone23">The Transfiguration<button> 
                 <button class="buttone23">The Last Supper<button> 
         </div>
         <br/>
        </div><div class="items">
          <div class="question">25. Who is the influential early church leader who argues for the inclusion of Gentiles into the Christian faith?</div> 
            <div class="options">
              <button class="buttone24" data-answer="a" id="first25">Paul<button> 
                <button class="buttone24">Peter<button> 
                  <button class="buttone24">John<button> 
                    <button class="buttone24">James<button> 
            </div> <br/>
            <div class="question">26. What does the parable of the Prodigal Son teach about?</div>
            <div class="options">
              <button class="buttone25">The importance of following the law.<button> 
                <button class="buttone25">The dangers of wealth.<button> 
                  <button class="buttone25">The duties of a good father<button> 
                    <button class="buttone25" data-answer="d" id="first26">Forgiveness and God's love.<button> 
            </div>
            <br/>
            <div class="question">27. What is the Great Commission Jesus gives to his disciples before ascending to heaven?</div>
            <div class="options">
              <button class="buttone26" data-answer="a" id="first27"> Go and make disciples of all nations.<button> 
                <button class="buttone26">Build churches in his name.<button> 
                  <button class="buttone26"> Prepare for his second coming.<button> 
                    <button class="buttone26">Write down his teachings.<button> 
            </div>
            <br/>
            <div class="question">28. What is the name of the empty tomb where Jesus is laid to rest</div>
            <div class="options">
              <button class="buttone27">The Temple<button> 
                <button class="buttone27">The Manger<button> 
                  <button class="buttone27" data-answer="c" id="first28">The Garden Tomb<button> 
                    <button class="buttone27">The Synagogue<button> 
            </div>
            <br/>
            <div class="question">29. What is the name given to the first four gospels (Matthew, Mark, Luke, and John)?</div>
            <div class="options">
              <button class="buttone28" data-answer="a" id="first29">The Synoptic Gospels<button> 
                <button class="buttone28"> The Pauline Epistles<button> 
                  <button class="buttone28">The Acts of the Apostles<button> 
                    <button class="buttone28">The Pastoral Epistles<button> 
            </div>
           <br/>
           <div class="question">30. What city is Paul originally from?</div>
           <div class="options">
             <button class="buttone29">Alexandria<button> 
               <button class="buttone29" data-answer="b" id="first30">Tarsus<button> 
                 <button class="buttone29">Antioch<button> 
                   <button class="buttone29">Corinth<button> 
           </div>
           <br/>
          </div><div class="items">
            <div class="question">31. What does Jesus wash during the Last Supper?</div> 
              <div class="options">
                <button class="buttone30"> The bread and wine<button> 
                  <button class="buttone30">The Table<button> 
                    <button class="buttone30">His own hands<button> 
                      <button class="buttone30" data-answer="d" id="first31">The disciples' feet<button> 
              </div> <br/>
              <div class="question">32. What is the name of Jesus' mother?</div>
              <div class="options">
                <button class="buttone31" data-answer="a" id="first32">Mary<button> 
                  <button class="buttone31">Martha<button> 
                    <button class="buttone31">Sarah<button> 
                      <button class="buttone31">Elizabeth<button> 
              </div>
              <br/>
              <div class="question">33. What book in the New Testament is filled with symbolic visions and imagery?</div>
              <div class="options">
                <button class="buttone32">The Epistle to the Romans<button> 
                  <button class="buttone32">1 Corinthians<button> 
                    <button class="buttone32" data-answer="c" id="first33"> Revelation<button> 
                      <button class="buttone32">The Gospel of John<button> 
              </div>
              <br/>
              <div class="question">34. What miraculous event happens to Saul on the road to Damascus?</div>
              <div class="options">
                <button class="buttone33">He is converted to Judaism.<button> 
                  <button class="buttone33" data-answer="b" id="first34">He receives a vision of Jesus.<button> 
                    <button class="buttone33">He is struck by lightning.<button> 
                      <button class="buttone33">He is filled with the Holy Spirit.<button> 
              </div>
              <br/>
              <div class="question">35. What does the apostle Paul write about in his letter to the Romans?</div>
              <div class="options">
                <button class="buttone34"> The importance of good works<button> 
                  <button class="buttone34" data-answer="b" id="first35">The meaning of salvation by faith<button> 
                    <button class="buttone34">The end times and apocalypse<button> 
                      <button class="buttone34">The life of Jesus<button> 
              </div>
             <br/>
             <div class="question">36. In the book of Acts, who receives the Holy Spirit on the Day of Pentecost?</div>
             <div class="options">
               <button class="buttone35" data-answer="a" id="first36">The disciples<button> 
                 <button class="buttone35">The Roman soldiers<button> 
                   <button class="buttone35">The High Priest<button> 
                     <button class="buttone35">Pontius Pilate<button> 
             </div>
             <br/>
            </div><div class="items">
              <div class="question">37. What is the name of the disciple who betrays Jesus for 30 pieces of silver?</div> 
                <div class="options">
                  <button class="buttone36">Peter<button> 
                    <button class="buttone36">John<button> 
                      <button class="buttone36" data-answer="c" id="first37">Judas<button> 
                        <button class="buttone36">Thomas<button> 
                </div> <br/>
                <div class="question">38. What city is known as the "place of the skull" where Jesus is crucified?</div>
                <div class="options">
                  <button class="buttone37">Capernaum<button> 
                    <button class="buttone37">Nazareth<button> 
                      <button class="buttone37" data-answer="c" id="first38">Jerusalem<button> 
                        <button class="buttone37">Bethlehem<button> 
                </div>
                <br/>
                <div class="question">39. How does Jesus calm the storm in the Sea of Galilee?</div>
                <div class="options">
                  <button class="buttone38">He walks on the water.<button> 
                    <button class="buttone38"> He argues with the disciples.<button> 
                      <button class="buttone38">He casts a net into the sea<button> 
                        <button class="buttone38" data-answer="d" id="first39"> He prays to his Father.<button> 
                </div>
                <br/>
                <div class="question">40. In the Sermon on the Mount, Jesus instructs his followers to pray in a:</div>
                <div class="options">
                  <button class="buttone39">Crowded marketplace<button> 
                    <button class="buttone39" data-answer="b" id="first40">Quiet Field<button> 
                      <button class="buttone39">Busy street corner<button> 
                        <button class="buttone39">Temple courtyard<button> 
                </div>
                <br/>
                <div class="question">41. The development of the New Testament canon was influenced by:</div>
                <div class="options">
                  <button class="buttone40">The political climate of the Roman Empire.<button> 
                    <button class="buttone40">The popularity of certain writings among early Christian communities.</button>                 
                        <button class="buttone40">Theological debates and apostolic authority.<button> 
                        <button class="buttone40" data-answer="d" id="first41"> All of the above.<button> 
                </div>
               <br/>
               <div class="question">42. Challenges in interpreting the New Testament include:</div>
               <div class="options">
                 <button class="buttone41">The existence of multiple translations with different word choices.<button> 
                   <button class="buttone41" data-answer="b" id="first42"> All of the above.<button> 
                     <button class="buttone41">The fragmentary nature of some New Testament manuscripts.<button> 
                       <button class="buttone41">The cultural and historical context of the writings.<button> 
               </div>
               <br/>
              </div>
              <div class="items">
                <div class="question">43. Regarding the Messiah, some Jewish expectations at the time of Jesus included:</div> 
                  <div class="options">
                    <button class="buttone42" data-answer="a" id="first43">All of the above.<button> 
                      <button class="buttone42">A descendant of King David who would restore a golden age for Israel.<button> 
                        <button class="buttone42">A suffering servant who would redeem Israel through sacrifice.<button> 
                          <button class="buttone42">A descendant of King David who would restore a golden age for Israel.<button> 
                  </div> <br/>
                  <div class="question">44. The Dead Sea Scrolls reveal:</div>
                  <div class="options">
                    <button class="buttone43">A hidden early Christian community separate from mainstream Judaism.<button> 
                      <button class="buttone43">A lost gospel account of Jesus' life and teachings.<button> 
                        <button class="buttone43" data-answer="c" id="first44">Evidence of widespread messianic expectations in Judaism before Jesus.<button> 
                          <button class="buttone43">A completely different religious tradition unrelated to Judaism.<button> 
                  </div>
                  <br/>
                  <div class="question">45. In Pauline theology, "pistis" (faith) refers to:</div>
                  <div class="options">
                    <button class="buttone44">The outward performance of good works and deeds.<button> 
                      <button class="buttone44">A mystical experience of the divine.<button> 
                        <button class="buttone44"> Strict adherence to religious laws and rituals<button> 
                          <button class="buttone44" data-answer="d" id="first45">A complete trust and reliance on God's grace through Jesus Christ.<button> 
                  </div>
                  <br/>
                  <div class="question">46. Women in the New Testament are portrayed as:</div>
                  <div class="options">
                    <button class="buttone45">Primarily focused on domestic duties and raising children.<button> 
                      <button class="buttone45" data-answer="b" id="first46"> Active participants in Jesus' ministry and early church communities, with some holding positions of influence.<button> 
                        <button class="buttone45"> Solely responsible for spreading the gospel message.<button> 
                          <button class="buttone45"> Subordinate to men and excluded from leadership roles.<button> 
                  </div>
                  <br/>
                  <div class="question">47. In the book of Revelation, the "end times" are depicted as:</div>
                  <div class="options">
                    <button class="buttone46">A gradual process of increasing peace and love.<button> 
                      <button class="buttone46">A time of intense judgment, cosmic upheaval, and ultimate victory of God.<button> 
                        <button class="buttone46" data-answer="c" id="first47">A symbolic representation of ongoing spiritual battles.<button> 
                          <button class="buttone46">A call for Christians to withdraw from worldly concerns.<button> 
                  </div>
                 <br/>
                 <div class="question">48. Paul, in his letters, argues for Gentile inclusion based on:</div>
                 <div class="options">
                   <button class="buttone47" data-answer="a" id="first48">Faith in Jesus Christ as the Messiah, superseding ethnicity.<button> 
                     <button class="buttone47"> A direct command from Jesus to his disciples.<button> 
                       <button class="buttone47"> Their acceptance of Jewish dietary laws.<button> 
                         <button class="buttone47">Their descent from Abraham.<button> 
                 </div>
                 <br/>
                </div>
                <div class="items">
                  <div class="question">49. The "New Covenant" in Hebrews:</div> 
                    <div class="options">
                      <button class="buttone48">Focuses on outward rituals and sacrifices.<button> 
                        <button class="buttone48"> Replaces the existing covenant with stricter moral demands.<button> 
                          <button class="buttone48">Is a temporary solution before the final coming of the Messiah.<button> 
                            <button class="buttone48" data-answer="d" id="first49">Offers a more personal and spiritual relationship with God through Jesus.<button> 
                    </div> <br/>
                    <div class="question">50. The Gospel of John emphasizes Jesus' role as:</div> 
                    <div class="options">
                      <button class="buttone49" data-answer="a" id="first50" >The divine Son of God, eternally existing with the Father.<button> 
                        <button class="buttone49"> A revolutionary figure challenging Roman rule.<button> 
                          <button class="buttone49" >The suffering Messiah who fulfills Jewish prophecy.<button> 
                            <button class="buttone49"> A charismatic leader and social reformer.<button> 
                    </div>
                                    <br/>
                                   
                                   
                                  </div>

                                
 <div class="navigation">
  <button id="previous" class="prev-btn" >&#8249;PREV</button>
  <button id="nextpage" class="next-btn"> NEXT&#8250;</button>
</div>



</div>
</div>
      </div>
      
    </div>
    
    <footer class="footer">
      <button id="backToTop">Back To Top</button>
      <div class="footercontainer">
        <div class="row">
          <div class="footer-col">
            <h1 class="justedit">Bible.Go</h1>
          </div>
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">our services</a></li>
              <li><a href="#">privacy policy</a></li>
              <li><a href="#">affiliate program</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">shipping</a></li>
              <li><a href="#">returns</a></li>
              <li><a href="#">order status</a></li>
              
            </ul>
          </div>
          
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
   </footer>
 
  
</body>
</html>

</body>
</html>